#comment
  padding 28px 34px
  background color-surface
  border 1px solid color-border
  border-radius radius
  margin-bottom 50px
  @media screen and (max-width: 600px)
    padding 22px 20px
  .title
    font-weight 600
    color color-heading
    margin-bottom 16px
