<%
var currentLang = page.lang || config.language[0] || 'en';
var langPosts = site.posts.filter(function(post) {
  return post.lang === currentLang;
});
%>
<% if (langPosts.length){ %>
<div class="widget tag">
  <h3 class="title"><%= __('recent_posts') %></h3>
  <ul class="entry">
    <% langPosts.sort('date', -1).limit(5).each(function(post){ %>
      <li>
        <a href="<%- url_for_lang(post.path) %>"><%= post.title %></a>
      </li>
    <% }); %>
  </ul>
</div>
<% } %>